<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2015-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.boot.example.mapper.UserMapper">

    <select id="findByName" parameterType="String" resultType="com.spring.boot.example.entity.User">
        SELECT * FROM t_user WHERE NAME = #{name}
    </select>

    <insert id="insertOne" parameterType="com.spring.boot.example.entity.User">
        INSERT INTO t_user(NAME,AGE,sex,content,create_time) VALUES(#{name},#{age},#{sex},#{content},#{createTime})
    </insert>

    <insert id="addByOneSQL">
        INSERT INTO t_user(NAME, AGE,sex,content,create_time) VALUES
        <foreach collection="users" item="user" separator=",">
            (#{user.name},#{user.age},#{user.sex},#{user.content},#{user.createTime})
        </foreach>
    </insert>

</mapper>
